<form method="post">
    {{ form.hidden_tag() }}
    <label>{{ form.username.label }}</label>
    {{ form.username() }}<br>
    <label>{{ form.password.label }}</label>
    {{ form.password() }}<br>
    <label>{{ form.profession.label }}</label>
    {{ form.profession() }}<br>
    <label>{{ form.hobby.label }}</label>
    {{ form.hobby() }}<br>
    <label>{{ form.situation.label }}</label>
    {{ form.situation() }}<br>
    <label>{{ form.difficulties.label }}</label>
    {{ form.difficulties() }}<br>
    <label>{{ form.communication.label }}</label>
    {{ form.communication() }}<br>
    <label>{{ form.additional.label }}</label>
    {{ form.additional() }}<br>

    {{ form.submit() }}
</form>
